<?xml version="1.0"?>
<!--
/**
 * Meenu0007 Module for Ajax Login.
 *
 * @category  Meenu0007 Module
 * @package   Meenu0007_AjaxLogin
 * @author    Meenu Thomas
 * @copyright Copyright (c)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Meenu0007_AjaxLogin" setup_version="0.0.1">
    </module>
</config>
