<?xml version="1.0"?>
<!--
/**
 * Meenu0007 Module for Ajax Login.
 *
 * @category  Meenu0007 Module
 * @package   Meenu0007_AjaxLogin
 * @author    Meenu Thomas
 * @copyright Copyright (c)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="ajax_login" frontName="ajax_login">
            <module name="Meenu0007_AjaxLogin" />
        </route>
    </router>
</config>
